/* You can add global styles to this file, and also import other style files */
#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left: 7%;
}

button, input, optgroup, select, textarea {
    margin: 5px;
}